h1{
    text-decoration: underline;
    text-align: center;
}
/*for the left side of the screen, this only inclues an image and the name of the type of device they are using*/
div.devices{
    width: 100px;
    margin-left: 20px;
    text-align: center;
    border: 2px solid;
}
div.item{
    display: inline-block;
    margin: 10px;
}
div.item img{
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
}
div.item p{
    margin-top: 5px;
    font-size: 14px;
    text-decoration: underline;
}
/*this will include the right side of the screen. all files plus the orginal file name will be here*/
.right_side{
    flex: 1;
    text-align: center;
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.media_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.media-item video,
.media-item img {
    width: 250px;
    max-width: 200px;
}

/*main wrapper for both divs*/
.wrapper {
    display: flex;
    justify-content: space-between; /* pushes them apart */
    align-items: flex-start;
    margin: 20px;
    gap: 5px;
}
